body{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


.hero{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width:auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width:auto;
  margin:5px 20px;
}

.u{
  display:flex;
  width:400px;
}

.header div{
  display: flex;
}

.links a{
  margin: 0 10px;
}

.h,.subh{
  display: flex;
  margin-left:20px;
}

.subh button{
  display: flex;
  padding:5px;
  margin: 5px 0;
}

.u img{
  display: inline-flexbox;
  margin: 20px;
  width:200px;
  height:auto;
}

.footer{
  display: flex;
  background-color: #AF2937;
  justify-content: center;
}
