*{
	margin:0;
	padding:0;
	display:flex;
	box-sizing:border-box;
}

html{
	overflow-x:hidden;
}

body{
	max-width:100vw;
	gap:80px;
}

body,#space,.info2,.main,.note{
	align-items:center;
}

body,.hero,.u,.main,.info2,.quote,#pop{
	flex-direction:column;
}

.footer,#pop,.quote,.info-box,.info,#space{
	justify-content:center;
}

section{
	height:max-content;
	width:100vw;
  flex:1;
}

.hero,.main,.quote,.footer,.links a{
  background-color:#1F2937;
  color:#F9FAF8;
  flex-wrap:wrap;
  align-content:center;
}

.hero{
  padding: 10px 0 50px 0;
  font-size:48px;
  font-weight:bolder;
}

.header{
  justify-content:space-between;
  margin-bottom:100px;
}

.footer,.links a,.subh,.info2,.notice,button{
	font-size:18px;
	font-weight:normal;
}

.u{
  width:500px;
}

.logo,.credit{
	font-size:24px;
}

.notice,button,.credit{
	font-weight:bold;
}

.links a{
  margin-left: 10px;
  text-decoration: none;
}

.subh{
	padding-bottom:10px;
}

button{
  background-color:#3882F6;
  color:#F9FAF8;
  border-radius:5px;
  width: max-content;
  padding:5px 10px;
}

#space, #space img{
	width:450px;
	height:200px;
}

#space{
	background-color: lightslategray;
	margin-left:50px;
}

.main{
  background-color:#FFFFFF;
  color:#1F2937;
}

.info{
  gap:50px;
}

.mainh,.quote{
	font-size:36px;
}

.mainh{
	font-weight:bolder;
	margin-bottom:80px;
}

.info2{
  text-align:center;
  width:150px;
  gap:5px;
}

.info-box{
  height:150px;
  width:150px;
  margin:0 50px;
  outline-style:solid;
  border-radius:10px;
  outline-color:crimson;
  outline-width:2px;
}

.quote{
	background-color:#E5E7EB;
	color: #1F2937;
	padding:10px 0;
	justify-items:center;
	font-style:italic;
}

.credit{
	font-style:normal;
	justify-content:right;
}

.up{
	border-color:#F9FAF8;
	border-radius:5px;
}

.note{
	background-color:#3882F6;
	color:#F9FAF8;
	border-radius:10px;
	width:700px;
	padding:20px 100px;
	justify-content:space-between;
}

.footer{
  padding:20px 0;
}
